body {
  padding: 32px;
}

label:not(:has(input)) {
  font-weight: bold;
}
label:has(input) {
  color: var(--pico-h5-color);
}

button {
  &[aria-invalid="true"]:before {
    content: "❗ ";
  }
  &:disabled {
    pointer-events: all !important;
  }
}

[aria-invalid="true"] + small + small {
  color: var(--pico-del-color);
}

fieldset:has([aria-invalid="true"]) small {
  color: var(--pico-del-color);
}
