.tsd-index-panel {
  display: none;
}

.tsd-signatures > .tsd-signature {
  background: var(--color-background-secondary);
  padding: 16px;
  margin: 0;
}
.tsd-signatures > .tsd-signature:not(:first-child) {
  margin-top: 16px;
}
.tsd-signatures > .tsd-description {
  background: var(--color-background-secondary);
  padding: 16px;
  margin: 0;
}

.tsd-member {
  background: var(--color-background-secondary);
  padding: 16px;
  margin: 16px 0;
}
.tsd-member .tsd-signatures {
  margin: 0 -16px -16px;
}
