.tsd-index-panel {
  display: none;
}

.tsd-panel:not(.tsd-member) ul.tsd-signatures > li:not([class^="tsd-"]) {
  background: var(--color-background-secondary);
  padding: 16px;
}
.tsd-panel:not(.tsd-member) ul.tsd-signatures > li:not([class^="tsd-"]) + li {
  margin-top: 16px;
}

.tsd-member {
  background: var(--color-background-secondary);
  padding: 0 16px;
  margin: 16px 0;
  overflow: hidden;
}
